<!DOCTYPE>
<html>
  <head>
  <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">

      <title>Zapui design</title>
      <!-- Bootstrap Core CSS -->
      <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->

      <!-- Custom CSS -->
      <!-- <link href="css/home.css" rel="stylesheet"> -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
      <!-- Custom Fonts -->
      <!-- <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
      <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
      <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->

  </head>

  <body>
    <div class="main">
      <div class="col-sm-12">
        <div class="logo">ZAP
          <%= image_tag("logo1.png", size: '150x150')%>
        </div>
      </div>
      
      <div class="intro-text">
        We design amazing interfaces & experiences. <br>
        Strategy & UX/UI design for web & mobile apps.
        <br><br><br><br>
      </div>
    </div>

    <div class="quotes">
      <div class="content">
        <center>
          <h2>ABOUT</h2>
          <p>ZAPUI provides full service experience design studio with a passion for creating usable products & platforms.<br>Never shy of experimenting!</p>
        
          <i class="fa fa-lightbulb-o fa-4x"></i><br>
          <b>Strategy</b><br>
          Our strategy workshops help us align your product with your target market & growth goals.
          <br>
          <br>
            
          <i class="fa fa-pencil fa-3x"></i><br>
          <b>UX/UI Design</b><br>
          We design awesome strategies & user experiences that deliver results.
          <br>
          <br>

          <i class="fa fa-line-chart fa-3x"></i><br>
          <b>Measure & Iterate</b><br>
          Great products are in constant improvement. We will help you launch, measure & improve your app.
          <br>

        </center>

      </div>
    </div>

    <div class="quotes-main">
      <div>.</div>
    </div>
    <br>
    

    <center>
      <h2>CONTACT</h2><br>
      <p>Looking for an innovative solution?</p>
      <p>Let's build something great.</p>
      <p>If you're ready to create a delightful solution to a difficult problem, let's collaborate!</p>
      <p>Email: support@zapui.com</p>
      <p>Phone: +91 7093 707 707</p>

      <br>
      <br>

      <a href="https://github.com/zapui" target="_blank"><i class="fa fa-github-square fa-2x"></i></a>
      <a href="https://www.facebook.com/zapui" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
      <a href="https://twitter.com/_zapui" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>

    </center>
<br>
<br>

    <!-- </div> -->

<!--   <div class="main-content">
    <div class="content">
      <h2>Inside Design prodect</h2>
      <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default" id="effects1">DESIGN</button>
        <button type="button" class="btn btn-default" id="effects2" >RESEARCH</button>
        <button type="button" class="btn btn-default" id="effects3" >DEVLOPMENT</button>
      </div>
    </div>

    <div id="service1" class="col-md-12">
      <div class="col-md-6">
        <div class="banner">
          <%= image_tag("bg1.jpg", height: '310', width: '550', class: 'pull-right')%>
        </div>
      </div>

      <div class="col-md-6">
        <div class="images">
          <div id="design" style="display: block;">
            <div class="col span1of3 align-right middle">
              <span class="ptb1">
                <h3>DESIGN FOR ZEPUI</h3>
                <p>MADHU KANOJIYA</p>
              </span>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
              aperiam, eaque ipsa quae ab illo inventore veritatis

            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="service2"  class="col-md-12">
      <div class="col-md-6">
        <div class="banner">
          <%= image_tag("research.jpg", height: '310', width: '550', class: 'pull-right')%>

        </div>
      </div>

      <div class="col-md-6">
        <div class="images">
          <div id="design" style="display: block;">
            <div class="col span1of3 align-right middle">
              <span class="ptb1">
                <h3>RESEARCH</h3>
                <p>MADHU KANOJIYA</p>
              </span>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
              aperiam, eaque ipsa quae ab illo inventore veritatis

            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="service3"  class="col-md-12">
      <div class="col-md-6">
        <div class="banner">
          <%= image_tag("devlopment.jpg", height: '310', width: '550', class: 'pull-right')%>

        </div>
      </div>

      <div class="col-md-6">
        <div class="images">
          <div id="design" style="display: block;">
            <div class="col span1of3 align-right middle">
              <span class="ptb1">
                <h3>DEVLOPMENT </h3>
                <p>MADHU KANOJIYA</p>
              </span>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
              totam rem aperiam, eaque ipsa quae ab illo inventore veritatis

            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

<!--   <div class="portifilo">
    <h2>OUR WORK</h2>
    <div class="col-sm-6">
      <%= image_tag("devlopment.jpg", height: '310', width: '550', class: 'pull-right')%>
    </div>

    <div class="col-sm-6">
      <%= image_tag("devlopment.jpg", height: '310', width: '550')%>
    </div>

    <div class="col-sm-12 mt2"></div>

    <div class="col-sm-6">
      <%= image_tag("devlopment.jpg", height: '310', width: '550', class: 'pull-right')%>
    </div>

    <div class="col-sm-6">
      <%= image_tag("devlopment.jpg", height: '310', width: '550')%>
    </div>
  </div> -->

<!-- <div class="clearfix"></div>
 -->
<!--   <div class="footer">
    <div class="quotes-footer">
        <br>
        <br>
        <br>
    <div class="copy">
      <footer class="site-footer">
          <div class="col-lg-4">
            <h3>Contect</h3>
          </div>
          <div class="col-lg-4">
            <h3>ABOUT </h3>
            &copy; All rights reserved!
          </div>
          <div class="col-lg-4">
            <h3>SOCIAL</h3>
            <span class="fb"><i class="fa fa-facebook "></i></span> Facebook<br>
            <span class="fb"><i class="fa fa-linkedin "></i></span> Linkedin<br>
            <span class="fb"><i class="fa fa-twitter "></i></span> Twitter<br>
            <span class="fb"><i class="fa fa-twitter "></i></span> Google+<br>
          </div>
      </footer>
    </div>
    </div>
  </div>
 -->

    <script type="text/javascript">
        $("#service1").show();
        $("#service2").hide();
        $("#service3").hide();

        $("#effects1").click(function(){
        $("#service1").show();
        $("#service2").hide();
        $("#service3").hide();
    });

    $("#effects2").click(function(){
        $("#service1").hide();
        $("#service2").show();
        $("#service3").hide();
    });

    $("#effects3").click(function(){
        $("#service1").hide();
        $("#service2").hide();
        $("#service3").show();
    });


    </script>

  </body>
</html>
